name: Generate snake animation

on:
  schedule: # execute every 12 hours
    - cron: "* */12 * * *"

  workflow_dispatch:

  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg?palette=github-dark


      - name: push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          github_user_name: ${{ github.repository_owner }}
          # Personalización de colores:
          # color_snake = El color de la serpiente (ej. el verde azulado de tu perfil)
          # color_dots = Los 5 niveles de color de los cuadros (del más vacío al más lleno)
          outputs: |
            dist/snake.svg?color_snake=38B2AC&color_dots=#161b22,#01311f,#03452c,#0f6d46,#199865
 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
