name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  
  workflow_dispatch:
  
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # PASO 1: Genera el archivo SVG con tus colores personalizados
      - name: Generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg?color_snake=38B2AC&color_dots=#161b22,#01311f,#03452c,#0f6d46,#199865
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # PASO 2: Sube el archivo generado a la rama "output"
      - name: Push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}